@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,800;1,200;1,300;1,400;1,500;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #000000;
}

.container * {
    max-width: 100%;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
    --blue-100: #1e94c2;
    --blue-200: #264b77;
    --white-100: #ffffff;
    --white-200: #cccece;
}

.top-bar {
    background-image: linear-gradient(to right,
            var(--blue-200),
            var(--blue-100),
            var(--blue-200));
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 20px solid #000000;
    border-image-source: url("./img/img/Border-botton.png");
    border-image-slice: 25;
}

.top-bar-soon {
    display: flex;
    align-items: center;
}

.top-bar select {
    width: 4rem;
    height: 2rem;
    margin-right: 3rem;
    background-color: var(--blue-200);
    font-size: medium;
    font-family: var(--font-secondary);
    border-radius: 7px;
    border: none;
    font-weight: 700;
}

.top-bar-soon p {
    font-family: var(--font-secondary);
    margin-left: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.logo {
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
}

header {
    position: relative;
    width: 100wv;
    max-height: 120vh;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, .95);
}

.img-wrapper img {
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
    animation: zoom 20s;
}

@keyframes zoom {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 15%;
    z-index: 1;
}

.banner h1 {
    color: var(--white-200);
    font-size: 3rem;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.8);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s;
}

.banner p {
    width: 70%;
    font-family: var(--font-secondary);
    color: var(--white-200);
    font-size: 2rem;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
    animation: moveBanner 1.5s;
}

.banner button {
    font-family: var (--font-action);
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #ffffff;
    padding: 1rem 3rem;
    /* primeiro valor em cima e em baixo, segundo valor nas laterais*/
    border: solid #000000;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 2s;
    transition: .5s;
}

.banner button:hover a {
    color: var(--blue-200);
}

.banner button:hover {
    border-color: var(--blue-200);
}


@keyframes moveBanner {
    0% {
        transform: translateY(20rem) rotateY(-30deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.menu-link:hover {
    color: #1CB5E0;
}

.about-me-sessao {
    width: 100vw;
    background-image: linear-gradient(to right,
            var(--white-200),
            var(--white-100),
            var(--white-200));
}

.sessao-header-about-me {
    display: flex;
    align-items: center;
    /*h1-centraliza-elemento vertical*/
    justify-content: center;
    /*torna o elemento horizontal*/
}

.sessao-header-about-me h1 {
    font-family: var(--font-primary);
    font-size: 2rem;
}

.about-me-filho {
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 4rem 0rem;
}

.me {
    width: 17rem;
    height: 17rem;
    margin: 0rem 3rem 0rem 20%;
}

.about-me-text {
    width: 70%;
}

.conhecimentos {
    display: flex;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .2rem;
}

.sessao-conhecimentos {
    width: 100%;
    background-image: linear-gradient(to right,
            var(--blue-200),
            var(--blue-100),
            var(--blue-200));
    border-top: 40px solid #000000;
    border-image-source: url("./img/img/Border-medio-top.png");
    border-image-slice: 50;        
}

.coluna1 {
    padding: 1rem 5rem;
}

.coluna2 {
    padding: 1rem 5rem;
}

.features-area {
    width: 100%;
    border-bottom: 40px solid #000000;
    border-image-source: url("./img/img/Border-medio-botton.png");
    border-image-slice: 50;
}

.conhecimento:nth-child(1) {
    margin-bottom: 5rem;
}

.conhecimento:nth-child(2) {
    margin-bottom: 5rem;
}

.conhecimento:nth-child(3) {
    margin-bottom: 5rem;
}

.conhecimento:nth-child(4) {
    margin-bottom: 5rem;
}

.conhecimento:nth-child(5) {
    margin-bottom: 5rem;
}

.conhecimento:nth-child(6) {
    margin-bottom: 5rem;
}

.sessao-header {
    display: flex;
    align-items: center;
    /*h1-centraliza-elemento vertical*/
    justify-content: center;
    /*torna o elemento horizontal*/
    margin-bottom: 1.5rem;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 2rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: var(--font-secondary);
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: var(--font-secondary);
    margin-top: 1rem;
    font-weight: bold;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
    /*espalha os objetos igualmente*/
}

.sessao-header-card {
    display: flex;
    align-items: center;
    /*h1-centraliza-elemento vertical*/
    justify-content: center;
    /*torna o elemento horizontal*/
    margin-bottom: 3.5rem;
}


.sessao-header-card h1 {
    font-family: var(--font-primary);
    font-size: 2rem;
}

.sessao-projetos {
    background-image: linear-gradient(to right,
            var(--white-200),
            var(--white-100),
            var(--white-200));
}

.projets-video {
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
}

.project-text {
    width: 50%;
    font-family: var(--font-secondary);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    padding-top: 3rem;
}

.project-text h3 {
    font-family: var(--font-primary);
    margin-bottom: 1rem;
}

.video-sessao1 {
    width: 80rem;
    height: 20rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.video-sessao2 {
    width: 105rem;
    height: 20rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.video-sessao3 {
    width: 65rem;
    height: 20rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.video-sessao4 {
    width: 65rem;
    height: 20rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.button-link {
    max-width: 500px;
    min-width: 300px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 3rem;
    background: none;
    border: solid #000000;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--font-secondary);
    transition: .5s;
}

.button-link:hover {
    border-color: var(--blue-200);
    color: var(--blue-200);
}

.social-media {
    margin-top: 1rem;
    width: 100%;
    bottom: 2rem;
    text-align: center;
}

.social-media * {
    color: var(--blue-200);
}

.social-media i {
    font-size: 2rem;
    align-items: center;
    border-radius: 50%;
    transition: color .5s;
    transition: font-size .5s;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.social-media i:hover {
    color: var(--blue-100);
}

.social-media img {
    font-size: 2rem;
    align-items: center;
    transition: all .5s;
    transition: font-size .5s;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.social-media img:hover {
    opacity: .8;
}

.session-footer {
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right,
            var(--blue-200),
            var(--blue-100),
            var(--blue-200));
    text-align: center;
    padding-top: 5rem;
    border-top: 20px solid #000000;
    border-image-source: url("./img/img/Border-top.png");
    border-image-slice: 25;
}

.session-footer h3 {
    font-family: var(--font-secondary);
}

@media screen and (max-width: 850px) {
    .banner{
        left: 5%;
    }
    .projets-video {
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .project-text {
        width: 100%;
        align-items: center;
    }

    .video-sessao1 {
        width: 100%;
    }

    .video-sessao2 {
        width: 100%;
    }

    .video-sessao3 {
        width: 100%;
    }

    .video-sessao4 {
        width: 100%;
    }

    .button-link {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 786px) {
    .top-bar {
        border-image-source: url('./img/img/Border-botton-menor.png');
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 30%;
        left: 0%;
        text-align: center;
        justify-content: center;
    }

    .about-me-filho {
        flex-direction: column;
        text-align: center;
        margin-left: 0rem;
        padding: 2rem 0rem 2rem 7rem;
    }

    .me {
        width: 10rem;
        height: 10rem;
        margin-left: -20%;
    }

    .conhecimentos {
        display: block;
    }

    .sessao-conhecimentos {
        border-image-source: url("./img/img/Border-medio-top-menor.png");  
    }

    .features-area {
        border-image-source: url("./img/img/Border-medio-botton-menor.png");
    }

    .coluna1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .coluna2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .session-footer {
        border-image-source: url('./img/img/Border-top-menor.png');
    }
}

@media screen and (max-width: 580px) {
    .top-bar select{
        margin-right: 1rem;
    }

    .logo{
        margin-left: 1rem;
    }

    .banner {
        top: 20%;
    }

    .top-bar p {
        font-size: 0.7rem;
    }

    .banner h1 {
        width: 70%;
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1rem;
    }

    .projets-video {
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .img-wrapper {
        height: 86%;
    }
    .about-me-filho {
        padding: 2rem 0rem 2rem 4rem;
    }
}

@media screen and (max-width: 412px) {
    .banner {
       top: 15%;
       left: -.25rem;
    }
    .about-me-filho {
        padding: 2rem 0rem 2rem 3rem;
    }
}